.root{
  -fx-font-family: 'Helvetica Neue', Arial, sans-serif;
  -fx-font-size: 24px;
  -fx-background-image: url(../../../../configuration/content/background.png);
  -fx-background-repeat: no-repeat;
  -fx-background-size: cover;
  -fx-background-position: center;
}

.button {
  -fx-min-width: 150px;
  -fx-min-height: 50px;
  -fx-padding: 7px;
  -fx-border-insets: 7px;
  -fx-background-insets: 7px;
}