.root{
  -fx-font-family: 'Helvetica Neue', Arial, sans-serif;
  -fx-font-size: 24px;
  -fx-background-image: url(../../../../configuration/content/background.png);
  -fx-background-repeat: no-repeat;
  -fx-background-size: cover;
  -fx-background-position: center;
}

.button {
  -fx-min-width: 200px;
  -fx-min-height: 80px;
  -fx-padding: 14px;
  -fx-border-insets: 14px;
  -fx-background-insets: 14px;
}